<div [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Issue Details</h3>
  </div>
  <div *ngIf="issue!=null" class="panel-body">
    <p style="float:left;padding-right:5%"><span style="color:brown">Name:</span> {{issue.name}} </p>
    <p style="float:left;padding-right:11%"><span style="color:brown">Mobile:</span> {{issue.mobile}} </p>
  
    <p><span style="color:brown">Place:</span> {{issue.place}} </p>
    <p style="float:left;padding-right:11%"><span style="color:brown">ComplaintNo:</span> {{issue.complaintNo}} </p>
    <p style="float:left;padding-right:7.5%"><span style="color:brown">Department:</span> {{issue.department}} </p>
    <p><span style="color:brown">Date:</span> {{issue.date}} </p>
    <p><span style="color:brown">Subject:</span> {{issue.subject}} </p>
    <p><span style="color:brown">Problem:</span> {{issue.problem}} </p>
    <p><span style="color:brown">Status:</span> {{statuses[issue.status]}} </p>

    <button (click)="toggle()" *ngIf="!isEdit" class="btn btn-primary">Update Status</button>
    <button  (click)="openNewTab()" *ngIf="issue.imageUri!=null" class="btn btn-primary">View Image Attachment</button>
  </div>

</div>
<update-list [updates]=updates> </update-list>
<update-form *ngIf="isEdit" [issueId]=issueId> </update-form>