<h1 [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}">Issues</h1>
<span >
	<search-by-id (complaintId) = "onIdSearch($event)"></search-by-id>
 </span>
<span [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}"> <search-department (status) = "onStatusChange($event)">
	</search-department> 
 </span>

<i [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}" *ngIf="commentsLoading" class="glyphicon glyphicon-refresh spinning"></i>
<pagination   [items]="issues" (page-changed)="onPageChanged($event)"></pagination>
<table [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}" class="table table-bordered">
	<thead>
		<tr>
			<th>Complaint No</th>
			<th>Name</th>
			<th>Place</th>
			<th>Department</th>
			<th>Subject</th>
			<th>Status</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#issue of pagedPosts">
			<td>{{ issuesObj[issue].complaintNo}}</td>
			<td>{{ issuesObj[issue].name}}</td>
			<td>{{ issuesObj[issue].place }}</td>
			<td>{{ departmentsMap[issuesObj[issue].department] }}</td>
			<td>{{ issuesObj[issue].subject }}</td>
			<td>{{ statuses[issuesObj[issue].status] }}</td>
			<td>
				<a [routerLink]="['IssueDetails', { id: issue}]">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<a *ngIf="true" [ngStyle] = "{'margin-left':'6%', 'margin-top':'1%'}" [routerLink]="['NewIssue']" class="btn btn-primary">Add Issue</a>
</p>
